{% load widget_tweaks %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' id="modal" class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Veranstaltung: {{ event }}</h5>
    </div>

    {% csrf_token %}
    <div class="modal-body">
        <div>
            Aktualisiere deinen Link für diese Veranstaltung.
        </div>
        <div id="all_links"></div>
        <div class="input-group mb-3">
            {{ form.link }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Abbrechen
        </button>
        <button type="submit" id="submit_btn" class="btn btn-primary">Link speichern</button>
    </div>
</form>
{% endwith %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    button = document.getElementById("submit_btn")
    button.addEventListener("click", () => {
        window.setTimeout(() => {
            window.parent.location.reload(true)
        }, 1000)
    })
    rawMoodleData = "{{moodle_data}}"
    rawMoodleData = rawMoodleData.replace(/&quot;/g, '"')
    rawMoodleData = rawMoodleData.replace(/&#x27;/g, '"')
    moodleData = JSON.parse(rawMoodleData);

    //generate moodle data Map with all bbb rooms, drop rest
    courseMap = new Map()
    moodleData["courses"].forEach(element => {
        if (element["bbb_rooms"].length != 0) {
            console.log(element["bbb_rooms"])
            element["bbb_rooms"].forEach(bbb_room => {
                courseMap.set(element["name"]+': ' + bbb_room["name"]  , [bbb_room["name"], bbb_room["url"]])
            })
        }
    });

    allLinks = document.getElementById("all_links")
    allLinksContent = ""
    id = 0
    for (let [key, value] of courseMap) {
        allLinksContent += '<div class="mb-3" id="course' + id + '" onClick=onCourseClick(' + id + ')>' + key + '</div>'
        id++
    }

    allLinks.innerHTML += allLinksContent

    formLink = document.getElementById("id_link")

    function onCourseClick(id) {
        origin = document.getElementById("course" + id)
        formLink.value = courseMap.get(origin.innerHTML)[1]
    }

</script>
{% endblock javascripts %}