{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% load render_table from django_tables2 %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header-title">
            <h3 class="m-b-10">Email</h3>
        </div>
        <!-- Navigation bar start -->
        <nav aria-label="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Email</li>
                </ol>
            </nav>
        </nav>
        <!-- Navigation bar start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Email <span id="error_msg_field" style="color: #ff0000; padding-left: 40px;"> {{ msg
                                    | safe }}</span></h5>
                        </div>
                        <div class="card-block">
                            <!-- Form start -->
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form }}
                                </div>
                                <button type="submit" class="btn btn-primary" title="Sende Email"
                                    data-toggle="tooltip">Sende Email</button>
                            </form>
                            <!-- Form end -->
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    error_msg_field = document.getElementById("error_msg_field")
    rawMsg = "{{ msg }}"
    rawMsg = rawMsg.replace(/&#x27;/g, '"')
    const msg = JSON.parse(rawMsg);
    if (msg[0] == "error") {
        error_msg_field.style.color = "#ff0000"
    } else {
        error_msg_field.style.color = "#53c213"
    }
    error_msg_field.textContent = msg[1]

    setTimeout(() => {
        error_msg_field.textContent = ""
    }, 5000)
    
    rawContacts = "{{ contacts }}"
    rawContacts = rawContacts.replace(/&#x27;/g, '"')
    rawContacts = rawContacts.replace(/None/g, null)
    const contacts = JSON.parse(rawContacts);
    console.log(contacts)

</script>
{% endblock javascripts %}