{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% load render_table from django_tables2 %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header-title">
            <h3 class="m-b-10">Dashboard </h3>
        </div>
        <nav aria-label="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                    </li>
                </ol>
            </nav>
        </nav>
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <h5>Vorlesungsplan</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <h5>Email</h5>
                            </div>
                            <div class="card-block">
                                <button type="button" class="btn btn-primary">Send Email</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Leistungsübersicht</h5>
                            </div>
                            <div class="card-block">
                                <div id="gpa" class="col-sm-12">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    //save dualis data to local storage
    const dualisDump = "{{ dualis_data }}";
    if (dualisDump !== "") {
        localStorage.setItem('dualis', dualisDump);
    }
    //encode dualis data from local storage
    let rawDualisData = localStorage.getItem('dualis')
    rawDualisData = rawDualisData.replace(/&quot;/g, '"')
    rawDualisData = rawDualisData.replace(/&#x27;/g, '"')
    const dualisData = JSON.parse(rawDualisData);

    //show gpa
    var gpa = document.getElementById("gpa")
    console.log(gpa)
    if (gpa !== null && dualisData["gpa_total"] !== undefined) {
        gpa.innerHTML += '<p><b>GPA-Total:</b> ' + dualisData["gpa_total"] + '</p>'
    }


</script>
{% endblock javascripts %}