{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% load render_table from django_tables2 %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header-title">
            <h3 class="m-b-10">Dashboard </h3>
        </div>
        <!-- Navigation bar start -->
        <nav aria-label="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a>
                    </li>
                </ol>
            </nav>
        </nav>
        <!-- Navigation bar end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- Lecture plan overview start -->
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <h5>Vorlesungsplan</h5>
                            </div>
                            <div class="card-block">
                                <div id="lecture_plan" class="col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Lecture plan overview end-->
                    <div class="col-sm">
                        <!-- Email shortcut start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Email</h5>
                            </div>
                            <div class="card-block">
                                <button type="button" class="btn btn-primary">Sende Email</button>
                            </div>
                        </div>
                        <!-- Email shortcut start -->
                        <!-- GPA Display start -->
                        <div class="card">
                            <div class="card-header">

                                <h5>Leistungsübersicht<span style="padding-left: 20px;"> <i id="icon"
                                            class="feather icon-eye"></i></span></h5>
                            </div>
                            <div class="card-block">
                                <div id="gpa" class="col-sm-12"></div>
                            </div>
                        </div>
                        <!-- GPA Display start -->
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    //save dualis data to local storage
    const dualisDump = "{{ dualis_data }}";
    if (dualisDump !== "") {
        localStorage.setItem('dualis', dualisDump);
    }
    //encode dualis data from local storage
    let rawDualisData = localStorage.getItem('dualis')
    rawDualisData = rawDualisData.replace(/&quot;/g, '"')
    rawDualisData = rawDualisData.replace(/&#x27;/g, '"')
    const dualisData = JSON.parse(rawDualisData);

    //show_hide gpa click
    let gpa = document.getElementById("gpa")
    let icon = document.getElementById("icon")
    icon.addEventListener("click", () => {
        if (icon.className == "feather icon-eye") {
            icon.className = "feather icon-eye-off"
            if (gpa !== null && dualisData["gpa_total"] !== undefined) {
                gpa.innerHTML = '<p><b>GPA-Total:</b> ' + dualisData["gpa_total"] + '</p>'
                console.log("off")
            }
        } else {
            icon.className = "feather icon-eye"
            if (gpa !== null && dualisData["gpa_total"] !== undefined) {
                gpa.innerHTML = '<p><b>GPA-Total:</b> Ausgeblendet </p>'
                console.log("on")
            }
        }
    })

    //initial show gpa
    if (gpa !== null && dualisData["gpa_total"] !== undefined) {
                gpa.innerHTML = '<p><b>GPA-Total:</b> Ausgeblendet </p>'
            }


    //encode lecture data
    rawLectureData = "{{lectures}}"
    rawLectureData = rawLectureData.replace(/&quot;/g, '"')
    rawLectureData = rawLectureData.replace(/&#x27;/g, '"')
    const lectureData = JSON.parse(rawLectureData);

    //show lecture plan
    let lecturePlan = document.getElementById("lecture_plan")
    let content = ''
    content += ' <table class="table"><thead><tr><th>Veranstaltung</th><th>Uhrzeit</th><th>Raum</th></tr></thead> <tbody>'

    content += getTodaysLectures(lectureData)

    content += '  </tbody> </table>'
    lecturePlan.innerHTML += content

</script>
{% endblock javascripts %}