{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% load render_table from django_tables2 %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    {% if form %}
                    <div class="col-md-6">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if is_user_logged_in %}
                    <h1>You are logged in already</h1>    
                    {% endif %}
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}