{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% load render_table from django_tables2 %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header-title">
            <h3 class="m-b-10">Leistungsübersicht</h3>
        </div>
        <!-- Navigation bar start -->
        <nav aria-label="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leistungsübersicht</li>
                </ol>
            </nav>
        </nav>
        <!-- Navigation bar end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- Grades overview start -->
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <h5>Noten</h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div id="all_grades" class="col" style="overflow-x:auto;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grades overview end -->
                    <!-- GPA Display start -->
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                <h5>GPA</h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div id="gpa" class="col-sm-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- GPA Display end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    //encode dualis data from local storage
    let rawData = localStorage.getItem('dualis')
    rawData = rawData.replace(/&quot;/g, '"')
    rawData = rawData.replace(/&#x27;/g, '"')
    const dualis_data = JSON.parse(rawData);
    //fill tabel with all grades
    var grades = document.getElementById("all_grades")
    let content = ''
    content += ' <table class="table"><thead><tr><th>Note</th><th>Credits</th><th>Veranstaltung</th></tr></thead> <tbody>'

    for (let index in dualis_data["modules"]) {
        const entry = dualis_data["modules"][index]
        content += '<tr><td>' + entry["grade"] + '</td>'
        content += '<td>' + entry["credits"] + '</td>'
        content += '<td>' + entry["name"] + '</td></tr>'
    }

    content += '  </tbody> </table>'
    grades.innerHTML += content
    //show gpa
    var gpaNode = document.getElementById("gpa")
    gpaNode.innerHTML += '<p><b>GPA-Total:</b> ' + dualis_data["gpa_total"] + '</p>'

</script>
{% endblock javascripts %}