{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: green;
    }
    .bonobo1 {
        font-size:200px;
        color: pink;
    }
</style>
{% endblock stylesheets %}
{% block content %}


<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"><i class="custom icon-Bonobo bonobo1"></i></span>
            <span class="r s"><i class="custom icon-Bonobo" style="font-size:45px;"></i></span>
            <span class="r s"><i class="custom icon-Bonobo" style="font-size:45px;"></i></span>
            <span class="r"><i class="custom icon-Bonobo" style="font-size:100px;"></i></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="custom icon-Bonobo" style="font-size:45px;"></i>
                </div>
                <h3 class="mb-4">Login</h3>

                <span class="mb-0 text-muted">
                    {% if msg %}
                    <span id="error_msg" style="color: #ff0000">{{ msg | safe }}</span>
                    {% else %}
                    Gib deine DHBW Login-Daten ein.
                    {% endif %}
                </span>

                <br />
                <br />

                <form role="form" method="post" action="">

                    {% csrf_token %}

                    <div class="input-group mb-3">
                        {{ form.username }}
                    </div>

                    <div class="input-group mb-4">
                        {{ form.password }}
                    </div>

                    <div class="input-group mb-5">
                        {{ form.course }}
                    </div>
                    <div id="loading" style="visibility: hidden;">
                        <div>Wir beziehen deine DHBW Daten...</div> <br>
                        <div class="loader"></div>
                    </div>
                    <button type="submit" name="login" id="login" class="btn btn-primary shadow-2 mb-4">Login</button>

                </form>
                <br />
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block javascripts %}
<script>
    error_msg = document.getElementById("error_msg")
    setTimeout(() => {
        error_msg.textContent = "Gib deine DHBW Login-Daten ein."
        error_msg.style.color = "#000"
    }, 5000)

    element = document.getElementsByName("{{ form.course.name }}")
    courseFiled = element[0]

    loading = document.getElementById("loading")
    button = document.getElementById("login")
    button.addEventListener("click", function () {
        loading.style.visibility = "visible";
        button.disabled = true
        button.parentElement.submit()
    });

    let rawCourseImport = "{{ course_list }}"
    try {
        rawCourseImport = rawCourseImport.replace(/&#x27;/g, '"')
        rawCourseImport = rawCourseImport.replace(/&quot;/g, '"')
    } catch (e) { }
    const courseList = JSON.parse(rawCourseImport);


    autocomplete(courseFiled, courseList);
</script>
{% endblock javascripts %}