{% load static %}

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="custom icon-Bonobo_right"></i>
                </div>
                <span class="b-title">BonoboBoard</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>

        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                </li>
                {% url 'vorlesungsplan' as url %}
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if request.path == url %}active{% endif %}">
                    <a href="{{ url }}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-calendar"></i></span><span
                            class="pcoded-mtext">Vorlesungsplan</span></a>
                </li>
                {% url 'leistungsuebersicht' as url %}
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if request.path == url %}active{% endif %}">
                    <a href="{{ url }}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-award"></i></span><span
                            class="pcoded-mtext">Leistungsübersicht</span></a>
                </li>
                {% url 'email' as url %}
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if request.path == url %}active{% endif %}">
                    <a href="{{ url }}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-mail"></i></span><span class="pcoded-mtext">Emails</span></a>
                </li>

            </ul>


        </div>
        <ul class="nav pcoded-inner-navbar">

            <li data-username="Disabled Menu" class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link" style="position: absolute; display: inline-block;">
                    <span class="pcoded-micon"><i class="feather icon-power"></i></span><span
                        class="pcoded-mtext">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>